<main class="mainSection">
<h1>Cadastrar Empresas</h1>
<form class="formulario" action="/cadastro" method="POST">
    <input type="text" class="inputs" name="razaoSocial" placeholder="Razao Social">

    <input type="text" class="inputs" name="endereco" placeholder="Endereço">

    <input type="text" class="inputs" name="nome" placeholder="Nome">
    
    <input type="text" class="inputs" name="email" placeholder="Email">
    
    <button type="submit" class="buttoncadastrar">Cadastrar</button>
    <a href="/visualizarCadastro" class="visualizar">Visualizar Cadastros</a>
</form>
</main>

